[user]
	email = dev.matteini@gmail.com
	name = devmatteini

[credential]
    helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	frag = magenta
	meta = yellow

	new = green
	old = red

	newMoved = cyan
	oldMoved = blue


[color "status"]
	added = green
	changed = yellow
	untracked = red

[core]
	# https://github.com/dandavison/delta
    pager = delta

[delta]
    syntax-theme = Monokai Extended Origin

[interactive]
    diffFilter = delta --color-only

[init]
	defaultBranch = main

[alias]
	# View the current working tree status using the short format
	s = status -s
	
	# Add
	a = add

	# Commit with message
	c = commit -m
	
	# Commit all changes
	ca = !git add -A && git commit -avm
	can = !git add -A && git commit --amend --no-edit
	cam = commit --amend -m
	cane = commit --amend --no-edit

	# undo last commit(s) and keep changes, with files unstaged
	uncommit = reset HEAD^ --mixed

	# Logs	
	l = log --pretty=format:'%C(yellow)%h%Cred%d%Cblue %ad %Cgreen[%cn]%n%Creset%s%n' --date=format:'%Y-%m-%d %H:%M' --decorate --graph -n 50
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --numstat
	ld = log --pretty=format:"%C(yellow)%h\\ %Cblue%ad%Cred%d\\ %Creset%s%Cblue\\ %Cgreen[%cn]" --decorate --date=relative
	tree = !git log --graph --decorate --all --oneline
	
	# Push
	ph = push
	
	# Pull rebase
	pr = pull --rebase
	
	# Diff
	d = diff

	# Diff staged files
	ds = diff --staged

	# unstage staged files (or pass a filename)
	unstage = reset HEAD --

	# Switch to a branch, creating it if necessary
	cob = checkout -b

	# Checkout
	co = checkout

	remotes = remote -v

	# Git reset hard
	rh = reset --hard HEAD

	# Stash
	sl = stash list
	# Stash all with message (including untracked files) 
	sp = stash push -u -m
