alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias h="cd ~"

# Git
alias g="git"

# List files
alias tree="erd -H -I --layout inverted"
alias treeh="erd -H -I --layout inverted --hidden"

# Docker
alias dk="docker"
alias dki="docker images"
alias dkps="docker ps -a"

# Terraform CLI
alias trp="terraform plan"
alias tra="terraform apply"

# .NET CORE CLI
alias dnt="dotnet test"

# Misc
alias utc="date --iso-8601"
alias print_path='echo -e ${PATH//:/\\n}'
alias print_fpath='echo -e ${FPATH//:/\\n}'

# apt
alias upgradable="apt list --upgradable"

# benchmarks
alias bench_shell="hyperfine --warmup 1 -r 10 'bash -i -c exit' 'zsh -i -c exit'"
alias bench_zsh="hyperfine --warmup 1 -r 10 'zsh -i -c exit'"

# node.js
alias pn="pnpm"
alias pnx="pnpm exec"
