#!/bin/bash

# If there are multiple matches for completion,
# make TAB cycle through them.
TAB: menu-complete

# Use case-insensitive TAB autocompletion.
set completion-ignore-case on

# Perform partial completion on the first Tab press, and
# only start cycling full results on the second Tab press.
set menu-complete-display-prefix on

# Display a list of the matching files
set show-all-if-ambiguous on

# Mapping CTRl + [left|right] arrow to move between words
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
